.page-wrapper {
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
}

.head {
    background: url(img/home_background.png) center center no-repeat;
    color: #ffffff;
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

.logo-centered {
    position: absolute;
    top: 13px;
    left: 12px;
    font-size: 40px;
    font-weight: bold;
  }

.logo p {
    margin-left: 7px;
}

.logo span {
    color: #18CFAB;
    font-weight: bold;
}

.top-nav {
    display: flex;
}

.top-nav li {
    display: inline;
    margin-right: 17px;
}

.top-nav li a {
    text-decoration: none;
    font-size: 9px;
    text-transform: uppercase;
    color: #bebbbb;
    font-weight: bold;
}

.top-nav li a:hover {
    color: #18CFAB;
}

.search {
    color: #B8B8B8;
}

main {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    padding-top: 185px;
    padding-bottom: 185px;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.top-buttons :last-child {
    background-color: #00CBF6;
}

button {
    width: 167px;
    height: 62px;
    padding: 25px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #18CFAB;
    cursor: pointer;
    border-top: 3px solid #ffffff;
    border-left: none;
    border-bottom: none;
    border-right: none;
    text-transform: uppercase;
}

main h2 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
}

main h2 span {
    color: #18CFAB;
}

main h1 {
    margin-top: 34px;
    margin-bottom: 27px;
    text-transform: uppercase;
    font-size: 69px;
    font-weight: bold;
}

main h3 {
    margin-bottom: 106px;
    font-size: 30px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    height: 375px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 62px;
}

.odd-option {
    flex: 1 1;
    /* flex-basis: 25%;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1C2A33;
    border-top: 8px solid #18CFAB;
    color: #18CFAB;
    font-weight: bold;
}

.even-option {
    flex: 1 1;
    /* flex-basis: 25%;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #18CFAB;
    border-top: 8px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
}

.services {
    max-width: 1140px;
    margin: 0 auto;
}

.section-pattern h3 {
    /* margin-top: 84px; */
    margin-bottom: 28px;
    font-size: 27px;
    text-align: center;
    font-weight: normal;
}

.lines {
    width: 91px;
    height: 12px;
    position: relative;
    margin: 0 auto;
}

.lines :first-child {
    position: absolute;
    left: 0;
    top:0;
}

.lines :last-child {
    position: absolute;
    right: 0;
    bottom: 0;
}

.lines hr {
    height: 2px;
    width: 77px;
    border: none;
    background-color: #18CFAB;
    margin: 3px auto;
}



.services-tab {
    margin-top: 50px;
    list-style: none;
    display: flex;
    padding: 0;
}

.services-list {
    box-sizing: border-box;
    height: 74px;
    width: 194px;
    background-color: #F8FCFE;
    color: #717171;
    text-align: center;
    line-height: 74px;
    cursor: pointer;
    border: 1px solid #dfdada;
}

.services-list.active {
    background-color: #18CFAB;
    color: #ffffff;
    border: none;
}

.services-content {
    font-size: 14px;
    display: none;
    color: #808080;
}

.service-content-holder {
    display: flex;
    margin-top: 19px;
    line-height: 20px;
}

.services-content.active {
    display: block;
}

.services-content img {
    margin-right: 15px;
    height: 139px;
    width: 194px;
}

.purchase_section {
    margin-top: 77px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    height: 377px;  
    background: url("img/background/section-2.jpg") center center no-repeat;
    padding-top: 95px;
}

.darken-overlay {
    position: relative;
} 

.darken-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
} 

.purchase_section h2 {
    color: #18CFAB;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.purchase_section p {
    margin-top: 35px;
    margin-bottom: 75px;
}

.portfolio-full-width {
    padding-top: 84px;
    margin-bottom: 84px;
    background-color: #F8FCFE;
    padding-bottom: 100px;
    border-bottom: 1px solid #dfdada;
}

.portfolio {
    margin: 0 auto;
    max-width: 1140px;
}

.portfolio ul {
    text-decoration: none;
    margin: 55px auto;
    display: flex;
    justify-content: center;
}

.portfolio li {
    font-size: 14px;
    cursor: pointer;
    color: #808080;
    padding: 20px;
    border: 1px solid #dfdada;
}

.portfolio li.active {
    color: #18CFAB;
    border-top: 3px solid #18CFAB;
}

.hide {
    transform: scale(0);
    width: 0;
    padding: 0;
    transition: all 0.5 ease-in-out;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.single-content {
    display: none;
}

.load {
    display: block;
    border: none;
    text-transform: uppercase;
    margin: 70px auto 0 auto;
}

.load span {
    font-weight: bold;
    font-size: 17px;
}

.noContent {
    display: none;
}

.news {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news a {
    background-color: #F8FCFE;
    color: #808080;
    text-decoration: none;
    position: relative;
    margin-top: 45px;
}

.news-date {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 69px;
    height: 67px;
    background-color: #203E38;
    color: #ffffff;
    text-align: center;
}

.news-date :first-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.news-post-name {
    color: #717171;
    font-size: 19px;
    font-weight: bold;
    margin: 14px;
}

.news-description {
    display: flex;
    margin: 14px;
}

.news-description :first-child::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    background-color: #5a5856;
    margin-right: 15px;
    margin-left: 15px;
    vertical-align: middle;
}

.review {
    margin-top: 95px;
    padding-top: 74px;
    color: #ffffff;
    height: 852px;
    background: url(img/background/section-3.jpg) center -200px no-repeat;
    text-align: center;
}

.review img {
    margin: 50px auto 35px auto;
}

.review p {
    width: 1120px;
    font-size: 16px;
    margin: 0 auto;
}

.slider-for {
    height: 100px;
    width: 100px;
    background-color: #fff;
}

.nav-slider {
    margin: auto;
    max-width: 800px;
    /* background-color: #fff; */
}

.profile-info {
    margin-top: 32px;
}

.profile-info .profile-name {
    text-transform: uppercase;
    color: #18CFAB;
    font-size: 16px;
}

.profile-info .profile-job {
    margin-top: 10px;
    font-size: 10px
}

.profile-info .profile-photo {
    margin: 30px auto;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    border: 1px solid rgb(24, 207, 171);
    box-shadow: 0 0 0 6px rgb(24, 207, 171, .5);
    overflow: hidden;
    /* background: url(img/slave1.jpg) center center no-repeat; */
}

.nav-slider .profile-photo {
    background-size: 70px;
    box-shadow: 0 0 0 2px rgb(24, 207, 171, .5);
    width: 62px;
    height: 62px;
}

.profile1 {
    background: url(img/slave1.jpg) center center no-repeat;
}

.profile2 {
    background: url(img/slave2.jpg) center center no-repeat;
}

.profile3 {
    background: url(img/slave3.jpg) center center no-repeat;
}

.profile4 {
    background: url(img/slave4.jpg) center center no-repeat;
}

.profile5 {
    background: url(img/slave5.jpg) center center no-repeat;
}

.profile-info:active {
    border: none;
}

.slick-next {
    top: 95px;
    right: 25px;
    height: 32px;
    width: 32px;
    border: 1px solid #F8FCFE;
}

.slick-prev {
    top: 95px;
    left: 25px;
    height: 32px;
    width: 32px;
    border: 1px solid #F8FCFE;
}

.slick-next:hover {
    background-color: #18CFAB;
}

.slick-prev:hover {
    background-color: #18CFAB;
}

footer {
    background-color: #22353F;
    height: 109px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-anchor {
    color: #18CFAB;
    text-decoration: none;
}